<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('partials/links.ejs')%>
    <title>Add a new movie to the collection</title>
  </head>

  <body>
    <header class="fixed-top">
      <h1 class="font-custom-green">Add a Movie</h1>
      <%- include('partials/navbar.ejs') %>
    </header>
    <main>
      <div class="form-div centered-div add-movie-div">
        <form class="form_container" action="/add" method="POST" enctype="multipart/form-data">
          <div class="inputs_div">
            <div class="mb-2">
              <label for="title">Title:</label>
              <input type="text" name="title" id="title" class="form-control" minlength="3" required />
            </div>
            <div class="mb-2">
              <label for="genre">Genre</label>
              <input type="text" name="genre" id="genre" class="form-control" minlength="3" required />
            </div>
            <div class="mb-2">
              <label for="year">Year:</label>
              <input type="number" name="year" id="year" class="form-control" min="1970" max="2024" required />
            </div>
          </div>
          <div class="mb-2">
            <label for="description">Description:</label>
            <textarea name="description" id="description" class="form-control" minlength="50" required></textarea>
          </div>
          <div class="mb-2">
            <label>Upload cover photo: </label>
            <input
              type="file"
              name="cover_photo"
              id="cover_photo"
              accept="image/jpg, image/jpeg, image/png"
              class="form-control"
              required
            />
          </div>
          <%if (message.trim() !== '') {%>
          <div class="message_div"><%=message%></div>
          <% } %>
          <div class="button-div mb-2">
            <button type="submit" value="Post" class="rounded-5 custom-green">Post</button>
          </div>
        </form>
      </div>
    </main>

    <script src="/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
