<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('partials/links.ejs')%>
    <title>Change Password</title>
  </head>
  <body>
    <div class="form-div centered-div">
      <h2>Change password</h2>
      <form action="/userProfileAction/changePwd" method="POST">
        <div class="mb-2">
          <label for="password">Current Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
          />
        </div>
        <div class="mb-2">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            class="form-control"
            minlength="8"
            required
          />
        </div>
        <div class="mb-2">
          <label for="passwordConfirm">Confirm New Password</label>
          <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            class="form-control"
            required
            aria-describedby="#password_description"
            minlength="8"
            required
          />
          <div id="password_description" class="form-text text-light">
            Your password must be at least 8 characters long and include at
            least one uppercase letter, one lowercase letter, one number, and
            one special character.
          </div>
        </div>
        <%if (message) {%>
        <div class="message_div"><%=message%></div>
        <% } %>
        <div class="button-div">
          <button
            type="submit"
            id="login_button"
            class="rounded-5 custom-green"
          >
            Change Password
          </button>
        </div>
      </form>

      <div><a href="/">Go back to main page.</a></div>
    </div>
  </body>
</html>
